<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.remixtools.AnchorsPalette</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Anchors Palette</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>CFBundleShortVersionString</key>
	<string>1.09</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/justanotherfoundry/freemix-glyphsapp/master/AnchorsPalette/Anchors.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/justanotherfoundry/freemix-glyphsapp</string>
	<key>productReleaseNotes</key>
	<string>Update Python binary for M1 and macOS Big Sur compatibility</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Tim Ahrens, 2020</string>
	<key>NSPrincipalClass</key>
	<string>AnchorsPalette</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
